<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>لوحة التحكم</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            @* Sidebar *@
            <div class="col-2 bg-dark min-vh-100 p-0">
                <div class="text-white fw-bold fs-5 p-3 border-bottom border-danger">
                    ⚙️ لوحة التحكم
                </div>
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="d-block text-white-50 p-3 text-decoration-none border-bottom">🏠Dashboard </a>
                <a asp-area="Admin" asp-controller="News" asp-action="Index" class="d-block text-white-50 p-3 text-decoration-none border-bottom">📰 الأخبار</a>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="d-block text-white-50 p-3 text-decoration-none border-bottom">📁 التصنيفات</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-block text-white-50 p-3 text-decoration-none border-bottom">🌐 الصفحة الرئيسية</a>
            </div>

            @* content *@
            <div class="col-10 p-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>