@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-wrapper">
    <div class="forgot-box">

        <div class="user-icon">
            <i class="bi bi-lock"></i>
        </div>

        <h3>نسيت كلمة المرور؟</h3>
        
        <form method="post" style="width:100%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Input.Email"
                   placeholder="البريد الإلكتروني" />

            <button type="submit">إرسال</button>
        </form>

        <a asp-page="./Login">
            <i class="bi bi-arrow-right"></i> العودة لتسجيل الدخول
        </a>

    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
