@model ornek.Models.News

<div class="card shadow-sm border-danger">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">تأكيد الحذف</h5>
    </div>
    <div class="card-body">
        <p>هل تريدي حذف الخبر: <strong>@Model.Title</strong>؟</p>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">حذف</button>
            <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
        </form>
    </div>
</div>




@* @model ornek.Models.News

<h2>هل تريد حذف هذا الخبر؟ </h2>
<p>@Model.Title</p>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />    
    <button type="submit">حذف</button>
    <a asp-area="Admin" asp-controller="News" asp-action="Index">إلغاء</a>
</form> *@