@model List<ornek.Dtos.News.GetAllNewsDto>

<div class="container my-4">
    
      @if (!Model.Any())
     {
        <p class="text-muted">لا توجد نتائج</p>
     }
    else
    {
        @foreach (var news in Model)
        {
            <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="text-decoration-none">
                <div class="card mb-3 p-3">
                    <h5>@news.Title</h5>
                    <small class="text-muted">@news.CategoryName | @news.CreatedAt.ToShortDateString()</small>
                </div>
            </a>
        }
    }
</div>